In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.DataFrame(np.arange(12).reshape((3,4)), 
                    index = pd.Index(['a','b','c'],
                           name='state'),
                    columns=pd.Index(['one','two','three','four'],
                           name='number'))
# data

In [8]:
# data.reindex()

In [10]:
# data.stack().reindex()

In [18]:
df = pd.DataFrame([[1,2,3,4],
                [11,22,33,44],
                [111,222,333,444],
                [1111,2222,3333,4444]],
                columns=['col1','col2','col3','col4'],)#列名

df.agg(['max','min','mean'])

        col1    col2    col3    col4
max   1111.0  2222.0  3333.0  4444.0
min      1.0     2.0     3.0     4.0
mean   308.5   617.0   925.5  1234.0